@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9fb;
  font-size: 15px;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  overflow: hidden;
}
.layout-front {
  background: url('data:image/svg+xml,<svg width="1200" height="720" viewBox="0 0 1200 720" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_28_2)"><rect width="1200" height="720" fill="%233E66FB"/><rect x="348.735" y="415.297" width="409.609" height="384.402" rx="15" transform="rotate(-107.794 348.735 415.297)" fill="%233E66FB"/><rect x="349.059" y="414.668" width="408.609" height="383.402" rx="14.5" transform="rotate(-107.794 349.059 414.668)" stroke="white" stroke-opacity="0.12"/><rect x="1134.2" y="721.231" width="409.609" height="384.402" rx="15" transform="rotate(-138.35 1134.2 721.231)" fill="%233E66FB"/><rect x="1134.16" y="720.526" width="408.609" height="383.402" rx="14.5" transform="rotate(-138.35 1134.16 720.526)" stroke="white" stroke-opacity="0.12"/><rect x="245.808" y="377.487" width="409.609" height="384.402" rx="15" transform="rotate(-107.794 245.808 377.487)" fill="%233E66FB"/><rect x="246.131" y="376.858" width="408.609" height="383.402" rx="14.5" transform="rotate(-107.794 246.131 376.858)" stroke="white" stroke-opacity="0.12"/><rect x="1026.34" y="740.997" width="409.609" height="384.402" rx="15" transform="rotate(-138.35 1026.34 740.997)" fill="%233E66FB"/><rect x="1026.3" y="740.291" width="408.609" height="383.402" rx="14.5" transform="rotate(-138.35 1026.3 740.291)" stroke="white" stroke-opacity="0.12"/><rect x="63.0593" y="377.487" width="409.609" height="384.402" rx="15" transform="rotate(-107.794 63.0593 377.487)" fill="%233E66FB"/><rect x="63.3826" y="376.858" width="408.609" height="383.402" rx="14.5" transform="rotate(-107.794 63.3826 376.858)" stroke="white" stroke-opacity="0.12"/><rect x="868.972" y="833.9" width="409.609" height="384.402" rx="15" transform="rotate(-138.35 868.972 833.9)" fill="%233E66FB"/><rect x="868.931" y="833.194" width="408.609" height="383.402" rx="14.5" transform="rotate(-138.35 868.931 833.194)" stroke="white" stroke-opacity="0.12"/><g filter="url(%23filter0_d_28_2)"><rect x="1027.66" y="-55.0616" width="310.915" height="291.781" rx="15" transform="rotate(15.6879 1027.66 -55.0616)" fill="%233E66FB"/></g><g filter="url(%23filter1_d_28_2)"><rect x="1.01611" y="771.806" width="310.915" height="291.781" rx="15" transform="rotate(-107.794 1.01611 771.806)" fill="%233E66FB"/></g></g><defs><filter id="filter0_d_28_2" x="920.253" y="-75.5682" width="425.243" height="411.996" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="-5" dy="3"/><feGaussianBlur stdDeviation="13.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.16 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_28_2"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_28_2" result="shape"/></filter><filter id="filter1_d_28_2" x="-114.137" y="358.459" width="419.114" height="431.484" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="3" dy="-5"/><feGaussianBlur stdDeviation="13.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.16 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_28_2"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_28_2" result="shape"/></filter><clipPath id="clip0_28_2"><rect width="1200" height="720" fill="white"/></clipPath></defs></svg>');
  background-color: #3e66fb;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.layout-all {
  color: #000;
  background-color: #f9f9fb;
}

.layout-all.forms {
  background: url('data:image/svg+xml,<svg width="1200" height="382" viewBox="0 0 1200 382" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_109_21)"><rect width="1200" height="382" fill="%233E66FB"/><rect x="347.861" y="579.312" width="388.378" height="364.478" rx="15" transform="rotate(-121.936 347.861 579.312)" fill="%233E66FB"/><rect x="348.021" y="578.623" width="387.378" height="363.478" rx="14.5" transform="rotate(-121.936 348.021 578.623)" stroke="white" stroke-opacity="0.12"/><rect x="244.467" y="568.392" width="388.378" height="364.478" rx="15" transform="rotate(-121.936 244.467 568.392)" fill="%233E66FB"/><rect x="244.627" y="567.703" width="387.378" height="363.478" rx="14.5" transform="rotate(-121.936 244.627 567.703)" stroke="white" stroke-opacity="0.12"/><rect x="76.4426" y="610.728" width="388.378" height="364.478" rx="15" transform="rotate(-121.936 76.4426 610.728)" fill="%233E66FB"/><rect x="76.6025" y="610.039" width="387.378" height="363.478" rx="14.5" transform="rotate(-121.936 76.6025 610.039)" stroke="white" stroke-opacity="0.12"/><g filter="url(%23filter0_d_109_21)"><rect x="990.808" y="145" width="294.799" height="276.658" rx="15" transform="rotate(15.6879 990.808 145)" fill="%233E66FB"/></g></g><defs><filter id="filter0_d_109_21" x="887.493" y="124.493" width="405.638" height="393.078" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dx="-5" dy="3"/><feGaussianBlur stdDeviation="13.5"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.16 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_109_21"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_109_21" result="shape"/></filter><clipPath id="clip0_109_21"><rect width="1200" height="382" fill="white"/></clipPath></defs></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.layout-wrapper {
  width: 100%;
  /* max-width: 1400px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.layout-all .layout-wrapper {
  min-height: 100vh;
}
.layout-front .layout-wrapper {
  min-height: 100vh;
}

.layout-body {
  width: 100%;
  display: flex;
  flex: 1;
  position: relative;
}

button {
  background-color: #000;
  border-radius: 200px;
  padding: 15px 30px;
  border: 0 solid;
  color: #fff;
  font-size: 1em;
  border: 1px solid #000;
}

.transparent-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

i {
  display: flex;
}

input,
textarea {
  border: 0 solid;
  padding: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin: 10px 0;
  width: -webkit-fill-available;
  font-family: Poppins, sans-serif;
}

label {
  font-size: 0.8em;
  font-weight: 600;
}

input:active,
input:focus {
  border: 0 solid;
  outline: 0 solid;
}

.loader {
  margin: auto;
  border: 5px solid #eaf0f6;
  border-radius: 50%;
  border-top: 5px solid #3e66fb;
  width: 20px;
  height: 20px;
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  font-size: 12px;
  color: #d12d2d;
  text-align: center;
}

.red-star {
  color: #d12d2d;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
  button {
    padding: 15px 20px;
  }
}
