@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(225, 222, 222);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #fff;
  padding: 30px;
  color: #1f1338;
}

@media screen and (max-width: 1160px) and (min-width: 799px) {
  body {
    width: 70%;
  }
}

@media screen and (max-width: 798px) and (min-width: 500px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 499px) {
  body {
    width: 100%;
    background-color: #fff;
  }
  #root {
    margin: 0;
    height: 100%;
    border-radius: 0;
  }
}

button {
  background-color: #5f33e1;
  border-radius: 10px;
  padding: 10px 20px;
  border: 0 solid;
  color: #fff;
  font-size: 17px;
}

.layout {
  position: relative;
}
.transparent-btn {
  background-color: transparent;
  text-decoration: none;
  color: #1f1338;
  font-size: 16px;
  font-weight: 300;
}

i {
  display: flex;
}

input {
  border: 0 solid;
  padding: 15px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  margin: 10px 0;
}

/*Welcome*/
.welcome-div {
  position: relative;
}
.task-manager-header {
  border-radius: 20px;
}

.header-main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: space-between;
}

.header-main-heading {
  font-weight: 600;
  font-size: 24px;
  color: #9092f2;
}

.header-login-button {
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
}

.body-main-heading {
  font-size: 80px;
  font-weight: 900;
  margin: 40px 0 18px 0;
  line-height: 1;
  color: #1f1338;
}

.body-main-heading div {
  font-family: Poppins, sans-serif;
  color: #9092f2;
  font-size: 80px;
}

.svg-icon.main {
  justify-content: center;
}

/*login*/
.login-main-heading {
  text-align: center;
  font-size: 50px;
  margin: 15px 0 30px 0;
}

.login-input {
  width: -webkit-fill-available;
}

.login-button {
  margin: 20px 0;
}

.signup-reflink {
  text-decoration: underline;
  background-color: transparent;
  padding: 0;
  color: #1f1338;
  margin-left: 10px;
}

/*signup*/
.signup-loading-error-div {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

/*tasks*/
.main-container {
  position: relative;
}
input.task-name-input,
.task-id-input {
  width: -webkit-fill-available;
}

.user-details-div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: space-between;
}

.menu {
  position: absolute;
  z-index: 9;
  top: 10%;
  right: 0;
  background-color: rgb(247, 247, 247);
  width: 30%;
  border-radius: 10px;
  margin: 0 0 0 auto;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu li {
  list-style-type: none;
  margin: 10px;
}
hr {
  border-top: 0px solid rgb(235, 235, 235);
}

input.task-completed-input {
  margin: 10px 0 0 20px;
}

input:active,
input:focus {
  border: 0 solid;
  outline: 0 solid;
}

label {
  font-size: 15px;
  font-weight: 600;
}
/* "/" page styles */
.main-container {
  display: grid;
}

.task-total-main {
  background: url('./assets/images/main.svg') no-repeat top right;
  background-size: contain;
  background-color: #6f4bff;
  padding: 30px;
  border-radius: 20px;
  color: #fff;
}

.loader {
  margin: auto;
  border: 5px solid #eaf0f6;
  border-radius: 50%;
  border-top: 5px solid #4346e9;
  width: 20px;
  height: 20px;
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  font-size: 12px;
  color: #941414;
  text-align: center;
}

.task-list {
  margin-bottom: 30px;
}

.lists {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  margin: 20px;
}

.lists li {
  list-style-type: none;
}

.completed-div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  grid-gap: 10px;
}

.completed {
  text-decoration: line-through;
}

.list-icons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.transparent-btn {
  background-color: transparent;
  padding: 0;
}

.add-new-button-div.new-task {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.add-new-button {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
}

/* "/new" page styles*/
.form-main-div {
  padding: 15px;
}

.add-task-heading {
  margin-top: 0;
}

.add-new-button.form {
  border-radius: 7px;
  margin-top: 15px;
}

.succes-added {
  color: #a3d6a3;
  font-size: 12px;
  text-align: center;
}

/*not found*/
.not-found.first {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  padding: 60px 0 30px 0;
}

.not-found-heading {
  font-size: 100px;
}

.not-found-para {
  font-size: 20px;
}

.fzf {
  text-align: center;
  margin: 0;
  font-size: 100px;
}

.fzf-para {
  text-align: center;
  margin: 0;
  margin-top: -20px;
}
