.addtask-main {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 8% 30px 0 30px;
}

.addtask-form-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 15px 15px 0 0;
}

.add-task-heading {
  margin-top: 0;
  color: #3e66fb;
  font-size: 50px;
  text-align: center;
}

.add-task-blocks {
  width: fit-content;
}
.add-task-blocks.main {
  margin: 62px 0 -62px auto;
}

.add-new-button {
  margin: 20px auto 0 0;
  padding: 12px 50px;
}
