.addtask-main {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 8% 30px 0 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.addtask-form-container {
  width: 60%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 15px 15px 0 0;
}

.add-task-heading {
  margin-top: 0;
  color: #3e66fb;
  font-size: 4em;
  text-align: center;
  font-weight: 500;
}

.add-task-blocks {
  width: fit-content;
}
.add-task-blocks.main {
  margin: 62px 0 -62px auto;
}

.add-new-button {
  margin: 20px auto 20px 0;
  padding: 12px 50px;
}

.add-new-button-div {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
  .addtask-form-container {
    width: 100%;
    padding: 40px 20px;
  }
  .add-task-heading {
    font-size: 2.5em;
  }
  .add-task-blocks.main {
    margin: 84px 0 -84px auto;
  }
}
