.menu {
  position: absolute;
  z-index: 9;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px 0px;
}
.menu-heading {
  margin: 0;
  color: #000;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding: 0 25px;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu li {
  color: #000;
  list-style-type: none;
  padding: 0 25px;
}
hr {
  border-top: 0px solid rgb(235, 235, 235);
}

.header-nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
