.main-container {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.task-total-main {
  padding: 20px 55px;
  border-radius: 7px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-todo {
  font-weight: bold;
  margin: 0;
}
.tasks-todo span {
  color: #d12d2d;
}

.cta-container {
  position: relative;
}
.task-create-button {
  display: flex;
  gap: 5px;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.task-user-heading {
  width: 100%;
  text-align: center;
  margin: 0;
  flex: 1;
  font-size: 21px;
  color: #000;
}

.task-list {
  margin: 0 auto;
}

.tasks-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.lists {
  padding: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.list-task-content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.list-task-date {
  background-color: #3e66fb;
  border-radius: 20px;
  padding: 2px 15px;
  font-size: 10px;
  width: fit-content;
  color: #fff;
}

.list-icons {
  display: flex;
  gap: 20px;
}
