.updatetask-main {
  padding-top: 8%;
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

.updatetask-form-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 15px 15px 0 0;
}

.update-task-heading {
  margin-top: 0;
  color: #000;
  font-size: 21px;
  text-align: center;
}

.update-task-blocks {
  width: fit-content;
}
.update-task-blocks.main {
  margin: 0px 0 -55px auto;
}

.update-new-button {
  margin: 20px auto 0 0;
  padding: 12px 50px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-completed-input {
  width: fit-content;
  box-shadow: none;
}
