.update-login-main-container {
  flex: 1;
  max-width: 1400px;
  margin: 0 auto;
}

.profile-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 5% 30px 5% 30px;
}

.basic-details-container,
.delete-profile-container {
  flex: 1;
  background-color: #fff;
  border-radius: 15px;
  padding: 40px 50px;
  display: flex;
  align-items: start;
  gap: 20%;
  justify-content: center;
}

.update-login-button {
  width: fit-content;
  margin: 20px 0 20px 0;
  padding: 12px 50px;
}

.basic-details-heading {
  margin-top: 0;
  color: #000;
  font-size: 1.4em;
}
.update-login-form {
  flex: 1;
}

.update-login-form input {
  width: -webkit-fill-available;
}
.delete-login-para {
  margin-top: 0;
}

.delete-login-button-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.delete-login-button {
  width: fit-content;
  background-color: #d12d2d;
  padding: 12px 50px;
  border-color: #d12d2d;
}

.success-added {
  color: #a3d6a3;
  font-size: 0.8em;
  text-align: center;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
  .basic-details-container,
  .delete-profile-container {
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
  }
  .update-login-form {
    width: 100%;
  }
}
