.welcome-div {
  display: flex;
  flex: 1;
  max-width: 1400px;
  margin: 0 auto;
}
.body-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5% 30px 0 30px;
}
.body-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.body-main-heading {
  font-size: 4em;
  font-weight: 900;
  margin: 0;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.body-main-para {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.body-main-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5px 0 20px 0;
}
.body-main-button {
  display: flex;
  gap: 5px;
  align-items: center;
}

.body-main-image {
  width: 65vw;
  min-height: 450px;
  flex: 1;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;
  background: url('../images/main.png');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .body-main {
    padding-top: 8%;
  }
  .body-main-para {
    width: 60%;
  }
  .body-main-image {
    background: url('../images/main-tablet.png');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {
  .body-main {
    padding-top: 15%;
  }
  .body-main-para {
    width: 100%;
  }
  .body-main-heading {
    font-size: 2.5em;
  }
  .body-main-image {
    width: 100%;
    background: url('../images/main-mobile.png');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
  }
}
